@import '../../../styles/utils/colours';

.answer-option {
  width: 49%;
  float: left;
  margin-right: 1%;
  padding: 1%;
  border: 1px dashed $item-color;

  &--answer {
    border: 2px solid $item-color--correct;
  }

  &__title {
    font-weight: bold;
    display: inline-block;
    width: 40%;
    min-width: 100px;
  }

  &__value {
    display: inline-block;
    width: 60%;
    margin: 0;
    min-width: 150px;
  }
}
