{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "jest/globals": true,
    "node": true,
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": ["react", "jest"],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "arrow-parens": ["error", "always"],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["ctx"]
    }],
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "no-unused-vars": ["error", {"varsIgnorePattern": "^log"}],
    "id-length": [2, {"exceptions": ["e", "i"]}]
  }
}
