$green: #37AC47;
$green-tint: #2D8E3D;

$red: #EB3C3C;
$red-tint: #CC091C;

$yellow: #F3B241;
$yellow-tint: #EB9D32;

$blue: #35495D;
$blue-tint: #2D3E4F;

$dark-blue: #2D3F70;
$dark-blue-tint: #233252;

$light-blue: #4FADE7;
$light-blue-tint: #29A0E8;

$pink: #E72F8D;
$pink-tint: #CC1174;

$light-pink: #EC95AB;
$light-pink-tint: #E0768C;

$teal: #489D90;
$teal-tint: #138B81;


$grey: #EFF1F3;
$dark-grey: #E4E7EC;
