$medium: 768px !default;
$large: 1120px !default;
$maxSmallWidth: $medium - 1 !default;
$maxMediumWidth: $large - 1 !default;


@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin small-only {
  @media screen and (max-width: $maxSmallWidth) {
    @content;
  }
}

@mixin medium-only {
  @media screen and (min-width: $medium) and (max-width:$maxMediumWidth) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: $large) {
    @content;
  }
}

