@import '../../../styles/utils/colours';

.card-item-value {
  display: block;
}

.question__options {
  padding: 0;
}

.question__option {
  display: block;
  border: 1px dashed $item-color;
  padding: 4px;
  margin: 4px;
  cursor: pointer;

  &--selected {
    border: 2px solid $item-color--selected;
  }

  &--wrong {
    border-color: $item-color--wrong;
  }

  &--correct {
    border-color: $item-color--correct;
  }
}
